@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..900&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    .asset-card {
        svg, g, path, line {
            fill: #06064D;
        }
    }
}
